<!-- FILEPATH: /home/oren/git/traffic_controller/controller/templates/index.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template with Tabbed Views</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      select {
        height: 300px;
        line-height: 50px;
        -webkit-appearance: menulist-button;  
        -moz-appearance:none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Traffic Control Center</h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#view1">View 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#view2">View 2</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="view1" class="tab-pane fade show active">
          <h3></h3>
          <form>
            <div class="form-group">
              <label for="controller-select">Traffic Controllers:</label>
              <select class="form-control" id="controller-select" size=10>
                <optgroup label="Unassigned Controllers" id="unassigned">
                </optgroup>
                <optgroup label="Assigned Controllers" id="assigned">
                </optgroup>
              </select>
              <p align="right">
              <input type="checkbox" id="identify-switch" onclick="identifyController()">Identify</input>
              <button type="button" class="btn btn-primary" onclick="refreshUUIDs()">Refresh</button>
              </p>
              <p align="right">
                <input type="checkbox" id="lights-switch" onclick="updateStreetLights()">Lights</input>
              </p>
            </div>
            <div class="form-group">
              <label for="intersection-select">Intersection:</label>
              <select class="form-control" id="intersection-select">
              </select>
              <label for="radiogroup">Side of Intersection:</label>
              <div class="location-select" disabled>
                <input type="radio" id="north" name="radiogroup" value="north">
                <label for="north">North</label><br>
                <input type="radio" id="south" name="radiogroup" value="south">
                <label for="south">South</label><br>
                <input type="radio" id="east" name="radiogroup" value="east">
                <label for="east">East</label><br>
                <input type="radio" id="west" name="radiogroup" value="west">
                <label for="west">West</label><br>
                <input type="radio" id="none" name="radiogroup" value="none" hidden>
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="assignLocation()">Assign</button>
            <p class="text-toast"></p>
          </form>
        </div>
        <div id="view2" class="tab-pane fade">
          <h3>View 2</h3>
            <form>
              <div class="form-group">
                <label for="intersection">Intersection:</label>
                <select class="form-control" id="intersection">
                  <option>Intersection 1</option>
                  <option>Intersection 2</option>
                  <option>Intersection 3</option>
                  <option>Intersection 4</option>
                </select>
              </div>
              <div class="form-group">
                <label for="green">Green:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Green" alt="Green Light">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="green" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label for="pedestrian">Pedestrian Blink:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Pedestrian" alt="Pedestrian Blink">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="pedestrian" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label for="yellow">Yellow:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Yellow" alt="Yellow Light">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="yellow" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label for="red">Red:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Red" alt="Red Light">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="red" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label for="green2">Green:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Green" alt="Green Light">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="green2" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label for="pedestrian2">Pedestrian Blink:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Pedestrian" alt="Pedestrian Blink">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="pedestrian2" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label for="yellow2">Yellow:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Yellow" alt="Yellow Light">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="yellow2" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <div class="form-group">
                <label for="red2">Red:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="https://via.placeholder.com/50x50.png?text=Red" alt="Red Light">
                    </span>
                  </div>
                  <input type="number" class="form-control" id="red2" placeholder="Enter seconds" style="margin: 5px;">
                </div>
              </div>
              <button type="button" class="btn btn-primary" onclick="setLightTiming()">Submit</button>
            </form>
          </div>
        </div>
        <script>
          function updateStreetLights() {
            var lights = document.getElementById("lights-switch").checked;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/setStreetLights", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
              lights: lights
            }));
            xhr.onload = function() {
              if(xhr.status = 200) {
                document.querySelector('.text-toast').innerHTML = "";
              } else {
                document.querySelector('.text-toast').innerHTML = "Failed to update street lights\n" + xhr.response;
              }
            }
          }
          function setLightTiming() {
            var intersection = document.getElementById("intersection").value;
            var green = document.getElementById("green").value;
            var pedestrian = document.getElementById("pedestrian").value;
            var yellow = document.getElementById("yellow").value;
            var red = document.getElementById("red").value;
            var green2 = document.getElementById("green2").value;
            var pedestrian2 = document.getElementById("pedestrian2").value;
            var yellow2 = document.getElementById("yellow2").value;
            var red2 = document.getElementById("red2").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/setLightTiming", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
              intersection: intersection,
              green: green,
              pedestrian: pedestrian,
              yellow: yellow,
              red: red,
              green2: green2,
              pedestrian2: pedestrian2,
              yellow2: yellow2,
              red2: red2
            }));
            xhr.onload = function() {
              if(xhr.status = 200) {
                document.querySelector('.text-toast').innerHTML = "";
              } else {
                document.querySelector('.text-toast').innerHTML = "Failed to set light timing\n" + xhr.response;
              }
            }
          };
          function refreshUUIDs(selected_component_uuid = "") {
            document.getElementById("north").disabled = true;
            document.getElementById("south").disabled = true;
            document.getElementById("east").disabled = true;
            document.getElementById("west").disabled = true;
            document.getElementById("intersection-select").disabled = true;
            document.getElementById("intersection-select").selectedIndex = -1;
            document.getElementById("none").checked = true;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/getLightIDs", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
            xhr.responseType = 'json';
            xhr.onload = function() {
              if(xhr.status = 200) {
                document.querySelector('.text-toast').innerHTML = "";
                var unassigned = document.querySelector('#controller-select > #unassigned');
                var assigned = document.querySelector('#controller-select > #assigned');
                var assigned_ids = xhr.response["assigned"];
                var unassigned_ids = xhr.response["unassigned"];
                unassigned.innerHTML = "";
                assigned.innerHTML = "";
                for (var i = 0; i < assigned_ids.length; i++) {
                  var option = document.createElement("option");
                  option.text = assigned_ids[i];
                  assigned.appendChild(option);
                }
                for (var i = 0; i < unassigned_ids.length; i++) {
                  var option = document.createElement("option");
                  option.text = unassigned_ids[i];
                  unassigned.appendChild(option);
                }
                document.getElementById("intersection-select").value = selected_component_uuid;
              } else {
                document.querySelector('.text-toast').innerHTML = "Failed to refresh controllers\n" + xhr.response;
              }
            }
          };
          function assignLocation() {
            var controller_id = document.getElementById("controller-select").value;
            var intersection_id = document.getElementById("intersection-select").selectedIndex;
            var direction = document.querySelector('input[name="radiogroup"]:checked').value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/setLightLocation/" + controller_id, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
              "intersection_id": intersection_id,
              "direction": direction
            }));
            xhr.onload = function() {
              if(xhr.status == 200) {
                document.querySelector('.text-toast').innerHTML = "";
                refreshUUIDs();
              } else {
                document.querySelector('.text-toast').innerHTML = "Failed to assign location\n" + xhr.response;
              }
            }
          };
          function identifyController() {
            var controller_id = document.getElementById("controller-select").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/setLightError", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
              "uuid": controller_id
            }));
            xhr.onload = function() {
              if(xhr.status == 200) {
                document.querySelector('.text-toast').innerHTML = "";
              } else {
                document.querySelector('.text-toast').innerHTML = "Failed to identify controller\n" + xhr.response;
                return;
              }
            }
          }
          var xhr = new XMLHttpRequest();
          var intersection_names;
          xhr.open("GET", "/getIntersections", true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send();
          xhr.responseType = 'json';
          xhr.onload = function() {
            if(xhr.status == 200) {
              document.querySelector('.text-toast').innerHTML = "";
              var intersection_select = document.getElementById('intersection-select');
              for (var i = 0; i < xhr.response.length; i++) {
                var option = document.createElement("option");
                option.text = xhr.response[i];
                intersection_select.appendChild(option);
              }
            } else {
              document.querySelector('.text-toast').innerHTML = "Failed to get list of intersections\n" + xhr.response;
            }
          }
          $('#controller-select').change(function() {
            document.getElementById("north").disabled = false;
            document.getElementById("south").disabled = false;
            document.getElementById("east").disabled = false;
            document.getElementById("west").disabled = false;
            document.getElementById("intersection-select").disabled = false;
            
            if (document.getElementById("identify-switch").checked) {
              identifyController();
            }
            if (this.value == "") {
              document.getElementById("intersection-select").selectedIndex = -1;
              document.getElementById("none").checked = true;
              return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/getLightState/" + this.value, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
            xhr.responseType = 'json';
            xhr.onload = function() {
              if(xhr.status == 200) {
                document.querySelector('.text-toast').innerHTML = "";
                var location = xhr.response["direction"];
                var intersection = xhr.response["intersection_id"];
                var intersection_select = document.getElementById("intersection-select");
                intersection_select.selectedIndex = intersection;
                document.getElementById(location).checked = true;
              } else {
                document.querySelector('.text-toast').innerHTML = "Failed to get state of selected light\n" + xhr.response;
              }
            }
          });
          refreshUUIDs();
        </script>
      </body>
    </html>
